.title {
    font-weight: bold;
    font-size: 24pt;
    color: blue;
}

.subtitle {
    font-weight: bold;
    text-align: center;
}

.content {
    position: relative;
    /* height: 100vh; */
    /* background: #5bc0de; */
    background-image: url("../assets/aboutus.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    text-align: center;
    padding: 5%;
    min-height: 81rem;
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.card-title {
    font-weight: bold;
    font-size: 18pt;
}

body {
    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    -o-animation: fadein 3s;
    /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}